<div class='article'>
  <%= link_to article_path(article) do %>
    <h2><%= article.title %></h2>
  <% end %>

  <%= link_to user_path(article.user_id) do %>
    <h5 class='article__author'>作成者 : </h5>
    <p class='article__author__name'><%= article.user.name %></p>
  <% end %>

  <% article.tag_list.each do |tag| %>
    <span><%= tag %></span>
  <% end %>

  <%= link_to '編集', edit_article_path(article) if current_user.id == article.user_id %>
  <%= link_to '削除', article_path(article), method: :DELETE %>
</div>
