<div class='header'>
  <%= link_to 'ShowTa', root_path, :class => "app-title" %>
  <%= react_component('SearchForm') %>
  <ul class='header__list'>
    <% if user_signed_in? %>
      <li class='header__list__content'>
        <span class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown'>
            <%= image_tag current_user.icon, class: 'header__list__content__user-icon' %>
          </a>
          <ul class='dropdown-menu header__list__content__dropdown'>
            <li>
              <%= link_to 'My Page', user_path(current_user) %>
            </li>
            <li>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </span>
      </li>
      <li class='header__list__content'>
        <span>
          <a href="/articles/new" class="btn btn-default header__list__content__new-post">
            <%= fa_icon "external-link" %>
            新規投稿
          </a>
        </span>
        <span class='dropdown header__lsit__content__dropdown'>
          <a class='btn btn-default dropdown-toggle header__list__content__dropdown__link' data-toggle='dropdown'>
            <%= fa_icon 'sort-desc', class: 'header__list__content__dropdown__link--icon' %>
          </a>
          <ul class='dropdown-menu header__list__content__dropdown'>
            <li>
              <%= link_to '下書き', draft_index_articles_path %>
            </li>
          </ul>
        </span>
      </li>
    <% else %>
      <li class='header__list__content'>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li class='header__list__content'>
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
