<div class='header'>
  <div class='app-title'>
    Show-Ta
  </div>

  <% if user_signed_in? %>
    <%= current_user.name %>

    <ul class='header__list'>
      <li class='header__list__content'>
        <%= link_to 'My page', user_path(current_user) %>
      </li>
      <li class='header__list__content'>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  <% else %>
    <ul class='header__list'>
      <li class='header__list__content'>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li class='header__list__content'>
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
    </ul>
  <% end %>
</div>
